
body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

form {
  max-width: 400px;
  margin: 0 auto;
  border: 7px solid rgba(237, 239, 249, 0.619);
  padding: 70px;
  border-radius: 20px;
  background-color: rgb(27, 139, 176);
}

h1 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 550;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 20px;
}


button {
  background-color: #17ccf0a1;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: blue;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

